<style>
    .main-filtro-banner {
    background-image: url("../../assets/images/banner-filtros/<%= categoria %>");
    background-position: center center;
    background-size: cover;
    min-height: 380px;
    border-radius: 23px;
    padding: 80px 60px;
  }
  
  .main-filtro-banner h6 {
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 25px;
    
  }
  
  .main-filtro-banner h4 {
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 25px;
    background: rgba(0, 0, 0, 0.507); /* Color de fondo negro más oscuro y sutil */
    color: #fff; /* Texto blanco para buen contraste */
    padding: 15px; /* Espaciado interno para mejorar la presentación */
    border-radius: 20px; /* Bordes redondeados para un look más moderno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra sutil para dar profundidad */
  }
  
  
  .main-filtro-banner h4 em {
    font-style: normal;
    color: #ec6090;
  }
  
  </style>
  
  <%- include('layouts/header.ejs'); -%>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">
  
  <div class="main-filtro-banner">
    <div class="row">
        <div class="col-lg-7">
            <div class="header-text">
                    <h4><em>Los deportes urbanos, son una expresión de libertad y creatividad</em>, donde la ciudad se convierte en tu campo de juego.</h4>
                    <div class="main-button">
                      
                        <a href="/tienda_frijolitox/registro">Registrar</a>
                    </div>
                    
                
            </div>
        </div>
    </div>
  </div>
  
  
  <div class="most-popular">
    <div class="row">
        <div class="col-lg-12">
            <div class="heading-section">
                <h4><em>Resultados de </em>Busqueda</h4>
            </div>
            <% if (resultado && resultado.length > 0) { %>
                <div class="row">
                    <% resultado.forEach((producto, index) => { %>
                        <div class="col-lg-3 col-sm-6">
                            <div class="item">
                                <img
                                    src="../../assets/images/productos/<%= producto.imagen %>"
                                    alt="<%= producto.modelo %>" 
                                />
                                <h4>
                                    <%= producto.modelo %><br /><span>
                                        <%= producto.categoria %>
                                    </span>
                                </h4>
                                <p><%= producto.descripcion %></p>
                                <li>
                                    <h4>
                                        <i class="fa fa-dollar"></i> <%= producto.precio %>
                                    </h4>
                                </li>
                                <li>
                                    <a href="/tienda_frijolitox/agregar_carrito/<%= producto._id %>">
                                        <i class="fa fa-shopping-cart"></i> Agregar Al Carrito
                                    </a>
                                </li>
                                <li>
                                    <a href="/tienda_frijolitox/producto/<%= producto._id %>">
                                        <i class="fa fa-bag-shopping"></i> Ver
                                    </a>
                                </li>
                            </div>
                        </div>
                        <% if ((index + 1) % 4 === 0 && index + 1 < resultado.length) { %>
                            </div>
                            <div class="row">
                        <% } %>
                    <% }); %>
                </div>
            <% } else { %>
                <div class="heading-section">
                    <h4> - Producto no encontrado - </h4>
                </div>
                
            <% } %>
        </div>
    </div>
</div>

  
          <!-- ***** Gaming Library Start ***** -->
          <div class="gaming-library">
            <div class="col-lg-12">
              <div class="heading-section">
                <h4><em>Productos Más</em> Populares</h4>
              </div>
              <% recomendacion.forEach(producto => { %>
                <div class="item">
                    <ul>
                        <li><img src="../../assets/images/productos/<%= producto.imagen %>" alt="<%= producto.marca %> <%= producto.modelo %>" class="templatemo-item"></li>
                        <li><h4><%= producto.modelo %></h4><span><%= producto.marca %></span></li>
                        <li><h4><%= producto.stock %></h4><span>STOCK</span></li>
                        <li><h4><%= producto.precio %></h4><span>PRECIO</span></li>
                        <li><h4><%= producto.categoria %></h4><span>CATEGORIA</span></li>
                        <li><div class="main-border-button border-active"><a href="/tienda_frijolitox/producto/<%= producto._id %>">Ir al Producto</a></div></li>
                    </ul>
                </div>
                <% }); %>
                
            </div>
            
          </div>
  
        </div>
      </div>
    </div>
  </div>
  <%- include('layouts/footer.ejs'); -%>
  